.cv-page {
  -webkit-box-shadow: 5px 5px 35px 5px rgba(10, 10, 10, 0.15);
  box-shadow: 5px 5px 35px 5px rgba(10, 10, 10, 0.15);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.cv-name {
  font-size: xx-large;
  padding-bottom: 0.3em;
}
.cv-short-desc {
  font-size: large;
  padding-bottom: 0.3em;
}
.cv-location {
  font-size: medium;
  padding-bottom: 0.3em;
}
@media print {
  .cv-page {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}